* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;

    background-size: cover;
    background-position: center;
    overflow: hidden;
}


.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;

}


.calculator h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #555;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #fafafa;
}

.calculate-btn {
    width: 100%;
    padding: 15px;
    background-color: #03310e;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.calculate-btn:hover {
    background-color: #218838;
}

.result {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: #333;
}

.image {
    
    bottom: 10px;
    right: 10px;
    width: 5px;
    height: auto;
    z-index: 10;
}



.voltar {
    position: fixed; /* Garante que o botão fique fixo na posição definida */
    top: 10px;       /* Distância de 10px do topo da janela */
    left: 10px;      /* Distância de 10px da borda esquerda da janela */
    background-color: #4caf4f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
}


        

        .voltar:hover {
            background-color:  #4caf4f00;;
        }
